---
layout: default
---

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Shihan Fang</h1>
        <p class="text-justify">
            I received my B.Eng. in Computer Science and Technology from the <a href="https://acm.sjtu.edu.cn/home">Zhiyuan Honors Program ACM Class</a> at Shanghai Jiao Tong University.
        </p>
        <p class="text-justify">
            Previously, I was a research intern with the <a href="https://zhang.ece.cornell.edu/">Zhang Research Group</a> in the Computer Systems Laboratory at Cornell University, advised by <a href="https://www.csl.cornell.edu/~zhiruz/">Prof. Zhiru Zhang</a>. I was also fortunate to work with <a href="https://www.cs.sjtu.edu.cn/~leng-jw/">Prof. Jingwen Leng</a> at Shanghai Jiao Tong University.
        </p>
        <p class="text-justify">
            My research interests broadly span compilers, computer architecture, and programming languages, with a particular focus on compilers for accelerators, including accelerator programming and design.
        </p>
        <p class="text-justify">
            I am an incoming CS Ph.D. student at Cornell. If you are interested in my research, please feel free to contact me at <a href="mailto:sf668@cornell.edu">sf668@cornell.edu</a>!
        </p>
        <p style="text-align:center">
            <a target="_blank" href="https://github.com/Fangtangtang">GitHub</a> &nbsp;/&nbsp;
            <a target="_blank" href="https://scholar.google.com/citations?user=MSgOSw4AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://orcid.org/0009-0002-6879-2166">ORCID</a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="images/bio.jpg">
    </div>
</div>

{% include publications.html %}
{% include award.html %}