---
layout: default
---

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Shihan Fang</h1>
        <p class="text-justify">
            I am a senior undergraduate in <a href="https://acm.sjtu.edu.cn/home">Zhiyuan Honors Program ACM Class</a> of Shanghai Jiao Tong University, majoring in Computer Science and Technology.
        </p>
        <p class="text-justify">
            I am currently a research intern with the <a href="https://zhang.ece.cornell.edu/">Zhang Research Group</a> in the Computer Systems Laboratory at Cornell University, advised by <a href="https://www.csl.cornell.edu/~zhiruz/">Prof. Zhiru Zhang</a>. Prior to this, I had the privilege of working with <a href="https://www.cs.sjtu.edu.cn/~leng-jw/">Prof. Jingwen Leng</a> at Shanghai Jiao Tong University.
        </p>
        <p class="text-justify">
            I am broadly interested in compilers and computer architecture, with a special focus on compiler for accelerators, including accelerator programming and design.
        </p>
        <p class="text-justify">
            I plan to pursue a Ph.D. in Computer Science starting in Fall 2026. If you are interested in my research, feel free to contact me at <a href="fang-account@sjtu.edu.cn">fang-account@sjtu.edu.cn</a>!
        </p>
        <p style="text-align:center">
            <a target="_blank" href="https://github.com/Fangtangtang">GitHub</a> &nbsp;/&nbsp;
            <a href="https://orcid.org/0009-0002-6879-2166">ORCID</a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="images/bio.jpg">
    </div>
</div>
